In [2]:
import pandas as pd
import pylab
import matplotlib.pyplot as plt

In [3]:
cd foodb_jan_23_2014.csv/

/Users/Lin/Dropbox/Data science/Fun DS projects/Food_DB/foodb_jan_23_2014.csv

In [7]:
foods = pd.read_csv("foods.csv", error_bad_lines=False)

Skipping line 282: expected 18 fields, saw 26
Skipping line 726: expected 18 fields, saw 32
Skipping line 728: expected 18 fields, saw 19
Skipping line 729: expected 18 fields, saw 22
Skipping line 730: expected 18 fields, saw 26
Skipping line 732: expected 18 fields, saw 25
Skipping line 734: expected 18 fields, saw 27
Skipping line 737: expected 18 fields, saw 19
Skipping line 749: expected 18 fields, saw 19
Skipping line 766: expected 18 fields, saw 19
Skipping line 782: expected 18 fields, saw 21
Skipping line 795: expected 18 fields, saw 19
Skipping line 823: expected 18 fields, saw 31
Skipping line 825: expected 18 fields, saw 22
Skipping line 843: expected 18 fields, saw 22

In [8]:
foods.head()

,id,name,name_scientific,description,itis_id,wikipedia_id,picture_file_name,picture_content_type,picture_file_size,picture_updated_at,legacy_id,food_group,food_subgroup,food_type,created_at,updated_at,creator_id,updater_id
0,1,Angelica,Angelica keiskei,NaN,NaN,NaN,1.jpg,image/jpeg,111325,2012-04-20 09:29:57,1,Herbs and Spices,Herbs,Type 1,2011-02-09 00:37:14,2012-04-20 16:29:57,NaN,2
1,2,Savoy cabbage,Brassica oleracea var. sabauda,NaN,NaN,NaN,2.jpg,image/jpeg,155178,2012-04-20 09:39:54,2,Vegetables,Cabbages,Type 1,2011-02-09 00:37:15,2012-04-20 16:39:55,NaN,NaN
2,3,Silver linden,Tilia argentea,NaN,NaN,NaN,3.jpg,image/jpeg,56367,2012-04-20 09:41:25,3,Herbs and Spices,Herbs,Type 1,2011-02-09 00:37:15,2012-04-20 16:41:26,NaN,NaN
3,4,Kiwi,Actinidia chinensis,NaN,506775,NaN,4.jpg,image/jpeg,110661,2012-04-20 09:32:21,4,Fruits,Tropical fruits,Type 1,2011-02-09 00:37:15,2012-04-20 16:32:22,NaN,NaN
4,5,Allium (Onion),Allium,NaN,42634,NaN,5.jpg,image/jpeg,341911,2012-04-20 09:37:44,5,Vegetables,Onion-family vegetables,Type 1,2011-02-09 00:37:15,2012-04-20 16:37:45,NaN,NaN

In [11]:
len(foods)

878

In [13]:
foods.food_group.unique()

array(['Herbs and Spices', 'Vegetables', 'Fruits', 'Nuts',
       'Cereals and cereal products', 'Pulses', 'Teas', nan,
       '2011-02-09 00:37:17', 'Gourds', 'Coffee and coffee products',
       'Soy', 'Cocoa and cocoa products', '2011-02-09 00:37:27',
       'Beverages', 'Aquatic foods', 'Animal foods', '2011-02-09 00:37:41',
       'Milk and milk products', 'Eggs', 'Confectioneries', 'Baking goods',
       'Dishes', 'Snack foods', 'Baby foods', 'Unclassified',
       'Fats and oils', '2012-01-10 02:28:37'], dtype=object)

In [32]:
valid_foods = ['Herbs and Spices', 'Vegetables', 'Fruits', 'Nuts',
       'Cereals and cereal products', 'Pulses', 'Teas'
       , 'Gourds', 'Coffee and coffee products',
       'Soy', 'Cocoa and cocoa products',
       'Beverages', 'Aquatic foods', 'Animal foods',
       'Milk and milk products', 'Eggs', 'Confectioneries', 'Baking goods',
       'Dishes', 'Snack foods', 'Baby foods', 'Unclassified','Fats and oils']

In [33]:
#there's some mess in this file; it needs to be cleaed up to get rid of the rows that are errors
#doesn't seem to be too many of them.
foods["food_group"][~foods["food_group"].isin(valid_foods)]

39                     NaN
40     2011-02-09 00:37:17
231                    NaN
232    2011-02-09 00:37:27
233                    NaN
234    2011-02-09 00:37:27
436                    NaN
437    2011-02-09 00:37:41
851                    NaN
852    2012-01-10 02:28:37
Name: food_group, dtype: object

In [35]:
foods = foods[foods["food_group"].isin(valid_foods)]

In [36]:
foods["food_group"][~foods["food_group"].isin(valid_foods)]

Series([], Name: food_group, dtype: object)